@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Quicksand:wght@300&display=swap");
.details-app {
  font-size: 13px;
  font-family: "Quicksand", Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  max-height: 400vh;
  color: #fff;
  background: linear-gradient(-65deg, #120838, #2e198f, #5b1888, #a81aad);
  background-size: 350% 350%;
  position: relative;
  animation: change 5s ease-in-out infinite;
  padding-bottom: 60px;
}

.details-head h1 {
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 3rem;
  margin-top: 3rem;
}

.votes-area {
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 100px;
}

.votes-area span {
  padding: 10px;
}

.coin-details {
  margin-top: 15%;
  font-size: 15px;
  text-align: center;
}

.coinLink {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 16px;
}

.coinLink:hover {
  background-color: rgb(147, 39, 161);
  border-radius: 10px;
}

.coins li {
  color: white;
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

.getVotesButton {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(147, 39, 161);
  color: white;
  font-family: "Quicksand", Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
  margin: 1rem;
  width: 120px;
  text-align: center;
}

.getVotesButton:hover {
  background-color: rgb(212, 0, 255);
  cursor: pointer;
}

.getVotesButtonArea {
  text-align: center;
  margin-top: 1rem;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

h2,
h3,
p {
  text-align: center;
  margin: 20px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

@media screen and (min-width: 500px) {
  .details-app {
    font-size: 13px;
    width: 100%;
    min-height: 180vh;
    max-height: 300vh;
    color: #fff;
  }

  .details-head h1 {
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    left: 50%;
    padding: 1.5rem 3rem;
    margin-top: 3rem;
  }

  .votes-area {
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 100px;
  }

  .votes-area span {
    padding: 10px;
  }

  .coin-details {
    margin-top: 5%;
    font-size: 24px;
    text-align: center;
  }

  .coinLink {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
  }

  .coinLink:hover {
    background-color: rgb(147, 39, 161);
    border-radius: 10px;
  }

  .coins li {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
  }

  .getVotesButton {
    padding: 20px;
    font-weight: bolder;
    margin: 3rem;
    width: 120px;
    text-align: center;
    font-size: 25px;
  }

  .getVotesButtonArea {
    text-align: center;
    margin-top: 1rem;
  }

  h2,
  h3,
  p {
    text-align: center;
    margin: 20px;
  }

  h3 {
    font-size: 35px;
  }

  p {
    font-size: 26px;
  }
}
