@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

body {
  height: 100%;
  font-size: 13px;
  font-family: "Major Mono", Arial, sans-serif;
  width: 100%;
  color: #fff;
  background: linear-gradient(
    -65deg,
    #120838,
    #2e198f,
    #762e88,
    #b6479e,
    #e073c5
  );
  background-size: 190% 190%;
  position: relative;
  animation: change 5s ease-in-out infinite;
}
