@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Quicksand:wght@300&display=swap");
.login-app {
  font-size: 13px;
  font-family: "Major Mono", Arial, sans-serif;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-65deg, #120838, #2e198f, #5b1888, #a81aad);
  background-size: 350% 350%;
  position: relative;
  animation: change 5s ease-in-out infinite;
}

.login-head h1 {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 3rem;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

h2,
p {
  text-align: center;
  margin: 20px;
}
