@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Quicksand:wght@300&display=swap");

.Nav {
  text-align: start;
  padding-right: 10px;
  background-color: rgb(44, 14, 58);
}

.landing,
.coins,
.details {
  font-family: "Quicksand";
  font-weight: bolder;
  text-decoration: none;
  color: rgb(235, 206, 223);
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.landing:hover,
.coins:hover,
.details:hover {
  color: white;
  cursor: pointer;
}

@media (min-width: 500px) {
  .Nav {
    font-size: 20px;
  }

  .landing,
  .coins,
  .details {
    margin: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
  }
}
