.Nav {
  text-align: start;
  padding-right: 10px;
  background-color: rgb(44, 14, 58);
}

.landing,
.coins,
.details {
  text-decoration: none;
  color: rgb(235, 206, 223);
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.landing:hover,
.coins:hover,
.details:hover {
  color: white;
  cursor: pointer;
  background-color: pink;
  border-radius: 10px;
}

@media screen and (min-width: 500px) {
  .Nav {
    text-align: center;
  }

  .landing,
  .coins,
  .details {
    margin: 10px;
    padding: 10px;
  }
}
